{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="mailto:dan.le@usegentor.com?subject=I want to use now" role="button">Get Started</a>
      <!--<p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>-->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Save time 💃</h2>
          <p>It may take week(s) to setup a new projects, day(s) to implement a feature. With Gentor, it takes less than an hour.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">High quality code ⚡️</h2>
          <p>Every pieces of generated code are production-level, easy to read and modify, written by developers for developers.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Well documentation 📖</h2>
          <p>Full document of how to generate, understand and customise generated code.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Multiple languages 🔅</h2>
          <p>Now supporting Ruby, more programming languages are comming: Javascript, Go, Python, Java, Swift, Kotlin, Elixir....</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Multiple frameworks 💯</h2>
          <p>Now supporting Ruby on Rails, more frameworks are comming: NextJS, ReactNative, Django, iOS, Android, Phoenix...</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Multiple type of applications 🙌</h2>
          <p>Works with existing projects, new projects. Just use the code that works for you.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
